
nav{
  z-index: 1;
  height: 15vh;
}

.home-head{
  font-family: 'Raleway',sans-serif;
  font-size: 56px;
  line-height: 80px;
  font-weight: 900;
  color: #fff;
}

.home-subtext{
  font-family: 'Raleway',sans-serif;
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
  color: #fff;
}
.bg-home{
  background-image: url('./assets/images/home-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:100vh;
  /* border: 1px solid red; */
  z-index: 0;
}

.header{
  background-color: rgba(41,191,18,0.75);
  height: 30vh;
}

.header-head{
  /* width: 50%; */
  /* margin-left: 5%; */
  font-family: 'Raleway',sans-serif;
  font-size: 56px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  /* border: 1px solid red; */
}

.section-about{
  /* width: 100%; */
  height: 100%;
  /* border: 1px solid red; */
  margin: 20px 0
}

.text-block{
  /* border: 1px solid red; */
}
.text{
  /* border: 1px solid red; */
}
.head-white,.subhead-white, .text-item-white{
  color: #fff;
}


.icon-block{
  /* width: 20%;
  height: 20%; */
  /* border: 1px solid red; */
}

.small-img-block{
  width: 50%;
}
.img-block{
  width: 100%;
  /* border: 1px solid red; */
}



.full-img-block{
  width: 90%;
}

.teal-button{
  background-color: #03B5AA;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: #fff;
  cursor: pointer;
}

.white-button{
  background-color: #fff;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: rgba(41,191,18,0.75);
  cursor: pointer;
}

.strategic-plan{
  height: 100%;
  width: 100%;
  background-color: rgba(41,191,18,0.75);
  /* padding: 20px 0; */
}

.process-plan{
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
  padding: 20px 40px;
}

.org-struct{
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
}

.head{
  /* width: 100%; */
  /* border: 1px solid red; */
}

.full-text-block{
  display: block;
  /* width: 100%; */
  border: 1px solid red;
}
.footer{
  /* border: 1px solid red; */
}
.footer-text{
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #313334;
  /* border: 1px solid red; */
  width: 100%;
}
