.header{
  /* height: 80vh; */
  /* background-image: url('./assets/images/home-bg.png');
  background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */

  /* border: 1px solid blue; */
  position: relative;
}

body{
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #313334;
}


nav{
  z-index: 1;
  /* height: 15vh; */
}

.nav-width{
  max-width: 70em;
  /* border: 1px solid red; */
}
/* .navbar-dark .navbar-nav .active>.nav-link {
  color: #000;
} */

.carousel-item{
  height: 100vh;
}
.carousel-item > img{
  height: 100vh;
}
.carousel-caption{
  bottom: 15rem;
}

.home-head{
  font-family: 'Raleway',sans-serif;
  font-size: 56px;
  line-height: 84px;
  font-weight: 900;
  color: #fff;
}

.home-subhead{
  font-family: 'Raleway',sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
}


.bg-home{
  background-image: url('./assets/images/home-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:100vh;
  /* border: 1px solid red; */
  z-index: 0;

}

.section-head{
  font-family: 'Raleway',sans-serif;
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #313334;
  /* border: 1px solid red; */
}

.subtext{
  font-family: 'Raleway',sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: #313334;
}

.text{
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #313334;
}
.imp-text{
  font-family: 'Playfair Display',sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #313334;
}
.footer-text{
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #313334;
}


.boxes{
  position: absolute;
  /* background-color: #f3f3f3; */
  /* border: 1px solid red; */
  width: 100%;
  top:80%;
  /* left: 0%; */
  margin: 0 auto;
}
.card{
  background-color: transparent;
}

.box{
  /* margin: 0 16px; */
  /* border: 1px solid red; */
  /* background-color: #fafafa; */
  height: 200px;
  /* width: 250px; */
  position: relative;
}

.box1{
  background-color: #3B52B7;
  /* min-width: 275px; */
}
.box2{
  /* min-width: 275px; */
  background-color: #FBC100;
}
.box3{
  background-color: #03B5AA;
  /* min-width: 275px; */

}
.box4{
  background-color: #29BF12;
  /* min-width: 275px; */
}

.card-icon-block{
  position: absolute;
  bottom:0%;
  z-index: 0;
}

.content{

  /* border: 1px solid red; */
}

.box-head{
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  /* border: 1px solid red; */
}

/*
.box-button{
  position: absolute;
  bottom: 5px;
  z-index: 1;
} */

.card-purple-button{
  background-color: #fff;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: #3B52B7;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 80%;
  bottom:10%;
  left:10%;
}
.card-yellow-button{
  background-color: #fff;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: #FBC100;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 80%;
  bottom:10%;
  left:10%;
}
.card-teal-button{
  background-color: #fff;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: #03B5AA;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 80%;
  bottom:10%;
  left:10%;
}
.card-green-button{
  background-color: #fff;
  box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.15);
  border: none;
  color: #29BF12;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 80%;
  bottom:10%;
  left:10%;
}


.about-project{
  height: 100%;
}

.about-eurosis{
  height: 100%;
  background-color: rgba(49,51,52,0.05);
}

.blue-ribbon{
    background-color: rgba(59,82,183,0.75);
    height: 25px;
}
.small-blue-ribbon{
    background-color: rgba(59,82,183,0.75);
    height: 4px;
    width: 30%;
    margin: 0 auto;
}

.partners{
  height: 100%;
  background-color: rgba(49,51,52,0.05);
}

.text-name{
  margin: 0 auto;
}

.testimonials{
  height: 100%;
}

@media (max-width:780px) and (max-width:960px) {
  .about-project{
    margin-top: 100px;
    height: 100vh;
  }
}


@media (max-width:760px) {
  .about-project{
    margin-top: 900px;
    height: 100vh;
  }
}


.big-img{
  /* border: 1px solid red; */
}
